/* Add some styles to some TAGS on the page (maybe the h1 and the img?)*/
 h1 {
    font-family:Helvetica;
    cursor: pointer;
    /* A student asked if you could do this in class, if you hover over the <h1> tag you can see it changed to a pointer */
}
img {
    width:100%;
    height:100%;
}
/* Add a style to a CLASS or CLASSES for some <div>s on the page */
 .bg-green {
    background-color: green;
}
.bg-orange {
    background-color: orange;
}
.bg-yellow {
    background-color: yellow;
}
.callout {
    border: 1px solid red;
    font-size: 32px;
}
/* Add a class to one <div> on the page using an ID */
 #rating {
    font-weight:bold;
}
#rating td {
    padding:10px;
}
}
